<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yleg.poplib">

    <application>
        <activity android:name=".PoPChallenge"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
        <activity android:name=".PoPPuzzleChallenge"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>

        <activity
            android:name="facedetection.LivePreviewActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>